* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    border-bottom: 1px solid rgb(25, 145, 115);
    text-align: center;
    background-color: bisque;
    margin-bottom: 20px;
    padding: 30px;
}

.add-btn-container {
    text-align: center;
}

.add-button {
    border: none;
    padding: 8px 12px;
    background-color: bisque;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 40px;
    padding: 20px;
    /* align-content: space-evenly;   */
}

.card-div {
    border: 1px solid #000;
    height: 200px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.delete-btn {
    
}





/* Modal */

.modal-container {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 600px;
    height: 400px;
}

.modal-header {
    background-color: bisque;
    
}

.modal-title {
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

/* .modal-title h3 {
} */

.modal-content {
    padding: 20px;
    text-align: center;
}

.modal-form input{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}

.modal-form label {
    font-size: 20px;
    margin-right: 20px;
}


.btn-container {
    margin-top: 50px;
}

.btn-container button {
    border: none;
    padding: 8px 12px;
    background-color: bisque;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 10px;
}


.modal-container.visible {
    visibility: visible;
}









